/* Builder Panel - Control Popup
   Color Palette
*/
#bricks-panel-inner:has(div.control.control-color .bricks-control-popup.bottom) #bricks-panel-header,
#bricks-panel-inner:has(div.control.control-color .bricks-control-popup.bottom) #bricks-panel-sticky,
#bricks-panel-inner:has(div.control.control-color .bricks-control-popup.bottom) #bricks-panel-controls-search {
    z-index: 1000;
}

#bricks-panel-inner:has(div.control.control-color .bricks-control-popup.bottom) .bricks-sortable-item.repeater-item.open {
    z-index: auto;
}

div.control.control-color:has(.bricks-control-popup.bottom) {
    position: fixed !important;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;
    width: 80%;
    max-width: 1000px;
}

div.control.control-color:has(.bricks-control-popup.bottom) .control-inner {
    background-color: var(--builder-bg-3);
    padding: 8px 0 8px 30px;
    justify-content: start !important;
}

div.control.control-color:has(.bricks-control-popup.bottom) .control-small > div,
div.control.control-color:has(.bricks-control-popup.bottom) .control-small > label {
    flex: 0;
}

div.control.control-color:has(.bricks-control-popup.bottom) .control-inner .color-value-tooltip {
    border: solid 1px white;
}

div.control.control-color:has(.bricks-control-popup.bottom) .control-inner label[for="color"] {
    flex: 0 !important;
}

/*--*/

[data-control=color] .bricks-control-popup.bottom {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
    align-items: start;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, .4) 0 0 4px 2px;
    z-index: 100001;
}

[data-control=color] .bricks-control-popup.bottom::before {
    display: none;
}

[data-control=color] .bricks-control-popup .color-modes {
    margin: 0;
}

[data-control=color] .bricks-control-popup .color-inputs {
    margin: 0;
}

[data-control=color] .bricks-control-popup .color-palette {
    grid-row: span 4;
    padding: 20px 20px 20px 0;
    max-height: 55vh;
}

[data-control=color] .bricks-control-popup .color-palette:before {
    display: none;
}

[data-control=color] .bricks-control-popup .color-palette.list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

[data-control=color] .bricks-control-popup .color-palette.list li {
    width: calc(50% - 10px);
}

[data-control=color] .bricks-control-popup .color-palette.list li .actions span {
    align-self: center;
    height: 16px;
}

[data-control=color] .bricks-control-popup .color-palette.grid {
    padding: 32px;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

[data-control=color] .bricks-control-popup .color-palette.grid li {
    aspect-ratio: 1/1;
}

/*[data-control=color] .bricks-control-popup .sliders,*/
/*[data-control=color] .bricks-control-popup .color-inputs,*/
/*[data-control=color] .bricks-control-popup .color-modes,*/
/*[data-control=color] .bricks-control-popup .color-palette-selector,*/
/*[data-control=color] .bricks-control-popup .button-group,*/
/*[data-control=color] .bricks-control-popup [data-control=info],*/
/*[data-control=color] .bricks-control-popup [data-control=file-import]{*/
/*    grid-column: 2;*/
/*}*/

[data-control=color] .bricks-control-popup > :not(.color-palette):not([data-control=file-import]) {
    grid-column: 2;
}

[data-control=color] .bricks-control-popup [data-control=file-import] {
    grid-row: 1;
}

[data-control=color] .bricks-control-popup .color-modes::before {
    left: 0;
    right: 0;
}

[data-control=color] .bricks-control-popup [data-control=select] .dropdown {
    max-height: 240px;
}